## Range

In [1]:
# Usually create lists [1,2,3]

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [3]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

## Enumerate

can only be used on iterable objects

In [5]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [6]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [7]:
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

## Zip

Zips together two lists

In [8]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']

In [9]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [10]:
mylist3 = [100,200,300]

In [11]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [12]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

## In

Quickly check if an object is in a list

In [13]:
'x' in [1,2,3]

False

In [14]:
'x' in ['x','y','z']

True

In [15]:
'a' in ['a world']

False

In [16]:
'a' in 'a world'

True

In [17]:
'mykey' in {'mykey':123}

True

## Mathematical Functions

min, max and the random library

In [18]:
list3 = [10,20,30,40,100]

In [20]:
min(list3)

10

In [21]:
max(list3)

100

In [22]:
from random import shuffle

In [23]:
list4 = [1,2,3,4,5,6,7,8,9,10]

In [24]:
shuffle(list4)

In [25]:
list4

[4, 2, 7, 1, 8, 9, 3, 6, 5, 10]

In [26]:
from random import randint

In [27]:
randint(0,100)

27

In [28]:
mynum = randint(0,100)

In [29]:
mynum

26

## User input

In [30]:
input('Enter a number here:')

Enter a number here:50

'50'